.clearfix {
  display: inline-block; }

.co2 {
  top: 5px; }

#conversion {
  z-index: 300000; }
  #conversion #user-entry #value-entry label {
    display: inline-block;
    position: relative;
    top: 8px; }
  #conversion #user-entry #mass-and-units {
    z-index: 300000;
    position: absolute;
    top: 8px;
    left: 220px; }

#summary {
  z-index: 200000; }

#help-fraction-of {
  position: absolute;
  display: inline-block;
  width: 15px !important;
  left: 100px; }


